
@{
    ViewData["Title"] = "Index";
}



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<link href="~/css/style.css" rel="stylesheet" />


<div class="section">
    <img src="../bilder/LOGGA IN BILD.jpg" class="img-fluid" alt="Responsive image">
</div>


<div id="program1" class="section text-center ">
    <div class="row">

        <h1 class="text-center" id="program">Tvättprogram</h1>
    </div>
</div>


<div class="section">
    <div class="row">
        <div class="col-2 col-1">


        </div>
        <div class="col-8 col-4">
            <div class="container ">
                <div id="test" class="row">

                    <div id="bas" class="container text-">
                        <h1>Bastvätt</h1>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime aperiam esse iusto repellat nam
                            possimus
                            in saepe nobis, quaerat error atque tenetur, magnam iure officia distinctio ipsa omnis? Est voluptatem,
                            facilis dicta magni quaerat quas ea debitis veritatis exercitationem similique, beatae aperiam incidunt
                            eligendi cupiditate ducimus! Corrupti porro accusantium quo.
                        </p>


                    </div>
                    <div id="infobastvätt" class="col-5">
                        <p>Pris Per Tvätt</p>
                        <h1> 250:-</h1>
                        <br>
                        <p> Bashäfte </p>
                        <h1>2200:-</h1>
                        <br>
                        <p>6 Bastvättar + 3 Guldtvättar</p>
                    </div>

                    <div id="kort1" class="col-5">
                        <div id="kort1innehåll" class="bastvätt card">
                            <h1>Bastvätt</h1>
                            <hr>

                            <h6> Pris per Tvätt</h6>
                            <p>250:-</p>
                            <br>
                            <br>

                            <dd>
                                <li> Microavfettning </li>
                                <li>Fälgtvätt</li>
                                <li>Kallaavfettnign/ Insektborttagning</li>
                                <li>Handtvätt med schampovax</li>
                                <li>Avrinningsvax</li>
                                <li>Luftorkning</li>
                            </dd>

                            <div class="card-footer">
                                <button type="button" class="btn btn-outline-info">Läs mer..</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="bas1" class="container text-center">
                        <h1>SilverTvätt</h1>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime aperiam esse iusto repellat nam
                            possimus
                            in
                            saepe nobis, quaerat error atque tenetur, magnam iure officia distinctio ipsa omnis? Est voluptatem,
                            facilis
                            dicta magni quaerat quas ea debitis veritatis exercitationem similique, beatae aperiam incidunt eligendi
                            cupiditate ducimus! Corrupti porro accusantium quo.

                        </p>
                    </div>
                    <div id="kort2" class="col-5 ">
                        <div id="kort2innehåll" class="silvertvätt card">
                            <h1>SilverTvätt</h1>
                            <hr>

                            <h6> Pris per Tvätt</h6>
                            <p>300:-</p>
                            <dd>
                                <li>Microavfettning </li>
                                <li>Fälgtvätt</li>
                                <li>Kallaavfettnign/ Insektborttagning</li>
                                <li>Handtvätt med schampovax</li>
                                <li>Avrinningsvax</li>
                                <li>Luftorkning</li>
                                <li>Dammsugning </li>
                                <li>Spolning av plastmattor</li>
                            </dd>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-outline-info">Läs mer..</button>
                            </div>



                        </div>

                    </div>
                    <div id="infobastvätt1" class="col-5">
                        <p>Pris Per Tvätt</p>
                        <h1> 300:-</h1>
                        <br>
                        <p> Bashäfte </p>
                        <h1>2600:-</h1>
                        <br>
                        <p>6 Silvertvättar + 3 Guldtvättar</p>
                    </div>

                </div>
                <div class="row">
                    <div id="bas2" class="container text-center">
                        <h1>Guldtvätt</h1>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime aperiam esse iusto repellat nam
                            possimus
                            in saepe nobis, quaerat error atque tenetur, magnam iure officia distinctio ipsa omnis? Est voluptatem,
                            facilis dicta magni quaerat quas ea debitis veritatis exercitationem similique, beatae aperiam incidunt
                            eligendi cupiditate ducimus! Corrupti porro accusantium quo.

                        </p>
                    </div>
                    <div id="infobastvätt2" class="col-5">
                        <p>Pris Per Tvätt</p>
                        <h1> 400:-</h1>
                        <br>
                        <p> Bashäfte </p>
                        <h1>3200:-</h1>
                        <br>
                        <p> 8 Guldtvättar</p>

                    </div>
                    <div id="kort3 " class="col-5">
                        <div id="kort3innehåll" class="guldtvätt card">
                            <h1>Guldtvätt</h1>
                            <hr>

                            <h6> Pris per Tvätt</h6>
                            <p>250:-</p>
                            <dd>
                                <li> Microavfettning </li>
                                <li>Fälgtvätt</li>
                                <li>Kallaavfettnign/ Insektborttagning</li>
                                <li>Handtvätt med schampovax</li>
                                <li>Avrinningsvax</li>
                                <li>Luftorkning</li>
                                <li>Dammsugning </li>
                                <li>Spolning av plastmattor</li>
                                <li>Dörrfalsar</li>
                                <li>Fönsterputs in & ut</li>
                                <li>Dammtorkning</li>
                            </dd>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-outline-info">Läs mer..</button>
                            </div>


                        </div>


                    </div>

                </div>

                <div id="rubrik1" class="row text-center">
                    <h1>Öppetider</h1>
                </div>
                <div class="row">

                    <div id="öppetider" class="col-12 text-right">
                        Måndag 10.00 - 17.00
                        <hr>
                        Tisdag 10.00 -17.00
                        <hr>
                        Onsdag 10.00 - 17.00
                        <hr>
                        Torsdag 10.00 -17.00
                        <hr>
                        fredag 10.00 - 17.00
                        <hr>
                        Lördag 12.00 -15.00
                        <hr>
                        Söndag 12.00 - 15.00
                    </div>
                </div>
            </div>
        </div>


        <div class="col-2 col-1">
        </div>
    </div>
</div>









