/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


#bild1 {
    width: 100vw;
    height: 600px;
}

#bild2 {
    width: 100vw;
    height: 600px;
}

#bild3 {
    width: 100vw;
    height: 600px;
}

.col-2 {
    background-color: white;
}

header {
    height: 150px;
    background-color: #6767c718;
    width: 100%;
}



#logga-in {
    margin-right: 40px;
}





#Namn {
    padding-top: 20px;
    color: turquoise;
    padding-left: 10px;
    font-family: Arial;
}

    #Namn span {
        color: white;
    }





#program {
    font-size: 43px;
    padding-top: 20px;
    text-align: center;
    margin-left: 620px
}

#program1 {
    background-color: #cdf7f3;
}




#bas h1 {
    color: grey;
    text-align: center;
    padding-right: 100px;
}

#bas {
    background-color: white
}

#bas1 h1 {
    color: silver;
    margin-right: 100px;
}

#bas1 {
    background-color: white;
}

#bas2 h1 {
    color: gold;
}

#bas2 {
    background-color: white;
}

#infobastvätt p {
    color: #af9f9f;
    font-family: Arial;
}

#infobastvätt h1 {
    color: #1a1313;
}

#infobastvätt {
    background-color: white;
}


#infobastvätt1 p {
    color: #af9f9f;
    font-family: Arial;
}

#infobastvätt1 h1 {
    color: #1a1313;
}

#infobastvätt1 {
    margin-left: 80px;
    background-color: white;
}

#infobastvätt2 p {
    color: #af9f9f;
    font-family: Arial;
}

#infobastvätt2 h1 {
    color: #1a1313;
}

#infobastvätt2 {
    background-color: white;
}

















































#kort1 h1, p {
    color: #1a1313;
}

#kort1 h6 {
    color: #af9f9f;
}

#kort1innehåll {
    background-color: #6767c718;
}

    #kort1innehåll dd {
        font-size: 24px;
    }

    #kort1innehåll p {
        font-size: 24px;
    }





#kort2 h1, p {
    color: #1a1313;
}

#kort2 h6 {
    color: #af9f9f;
}

#kort2innehåll {
    background-color: #6767c718;
}

    #kort2innehåll dd {
        font-size: 22px;
    }

    #kort2innehåll p {
        font-size: 24px;
    }






#kort3 h1, p {
    color: #1a1313;
}

#kort3 h6 {
    color: #af9f9f;
}

#kort3innehåll {
    background-color: #6767c718;
}

    #kort3innehåll dd {
        font-size: 17px;
    }

    #kort3innehåll p {
        font-size: 20px;
    }


#öppetider {
    background-color: #e9e7e7;
}

#rubrik1 {
    padding-left: 420px;
    background-color: #cdf7f3;
}

#rubrik {
    background-color: #160f0f;
}

    #rubrik h1 {
        color: #e9e7e7;
    }







#logobild {
    float: left;
    width: 70px;
    height: 70px;
}































































.contact img {
    height: 50px;
    width: 40px;
    padding-right: 10px;
    margin-bottom: 30px;
}



.Socials img {
    height: 30px;
    width: 60px;
}

#öppnaatider {
    background-color: black;
    padding-bottom: 20px;
}

    #öppnaatider p {
        color: white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 25px;
        font-size: 43px;
    }



#footerposition {
    background-color: #303036;
    color: white;
    height: 400px;
    position: relative;
}

#footer-bottom {
    background-color: #343a40;
    color: #686868;
    height: 45px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

#footer-content {
    height: 350px;
    display: flex;
}

.footer-section {
    flex: 1;
    padding: 25px;
}

.footer .footer-content, h1
.footer .footer-content, h2 {
    color: white;
}

.footer-content .about h1 span {
    color: turquoise;
    font-style: arial;
}

.footer .footer-content .about .contact span {
    font-size: 1.0em;
    margin-bottom: 0px;
}

.footer .footer-content .contact .contact-input {
    background: #272727;
    color: #bebdbd;
    margin-bottom: 0px;
    line-height: 1.5rem;
}

.footer .footer-content .contact-form .contact-input:focus {
    background-color: #1a1a1a;
}

#text {
    color: white;
    font-size: 15px;
    box-sizing: border-box;
}

#blimedlem h2 {
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

#blimedlem p {
    color: white;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}