<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="">
                <img src="../bilder/logo.jpg" id="logobild" class="img-fluid"
                     alt="Responsive img">
            </a>
            <a class="navbar-brand" href="hemsida.html">Siriustvätt</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="Home/Index">Hem <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Boka/Index">Boka</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="">Prismeny</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">TvättProgram</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Om oss</a>
                    </li>
                </ul>


                <form>

                    <a href="/Login/Index">Logga in</a>
                    <a href=""></a>
                    <a href="/Visa/Index">Mina Bokningar</a>
                </form>

            </div>
        </nav>
        <h1 id="namn" class="Namn text-center"> Välkommen till SiriusTvätt<span></span></span></h1>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <
    <footer>


        <div id="footerposition" class="footer">
            <div id="footer-content" class="footer-content">
                <div class="footer-section about">
                    <h1 class="logo-text"><span>Siriustvätt</span> & Vård</h1>
                    <p id="text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. In consectetur corporis culpa,
                        provident aliquid expedita quisquam obcaecati. Incidunt modi.
                    </p>
                    <div class="contact">
                        <span> <img src="../iconer/call.svg" alt="Telefon"> 0704886557</span>
                        <br>
                        <span> <img src="../iconer/email.svg" alt="Email"> info@siriustvätt&vård@hotmail.com</span>
                    </div>

                    <div class="Socials">
                        <img src="../iconer/facebook.svg" alt="Facebook">
                        <img src="../iconer/instagram.svg" alt="Instagram">
                        <img src="../iconer/twitter.svg" alt="Twitter">
                        <img src="../iconer/youtube.svg" alt="Youtube">

                    </div>


                </div>
                <div id="blimedlem" class="footer-section links">
                    <h2>Genväg</h2>
                    <br>
                    <ul>
                        <a href="">
                            <li id="mus">Event</li>
                        </a>
                        <a href="">
                            <li>Team</li>
                        </a>
                        <a href="">
                            <li>Gallery</li>
                        </a>
                        <a href="">
                            <li>Terms</li>
                        </a>
                        <a href="">
                            <li>Hitta hit</li>
                        </a>
                    </ul>


                </div>
                <div class="footer-section contact-form">
                    <form action="hemsida-html" method="">
                        <h2>Kontakta Oss</h2>
                        <input type="text" name="email" class="text-input contact-input" placeholder="Din E-mail adress...">
                        <br>
                        <br>
                        <input type="text" name="message" class="text-input contact-input"
                               placeholder=" Skriv meddelandet här...  "></textarea>
                        <br>
                        <br>
                        <button id="knapp" type="button" class="btn btn-primary btn-sm">Skicka</button>

                    </form>
                </div>


            </div>
            <div id="footer-bottom" class="footer-bottom">
                &copy; Siriustvätt & Vård | Konstruerad av Wasem Alamin Hassan
            </div>
        </div>

    </footer>
    <script>

        document.getElementById('mus').addEventListener('mouseenter', function () { document.getElementById("mus").style.color = "red" });


        $('#mus').mouseleave(function () {
            $('#mus').css('color', 'grey');
        });

    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
